:root{
    --night-secondary: #a9acb1;
    --night-secondary-soft: #3a3b3c;
    --night-background:#121212;
    --night-card:#1F1F1F;
    --night-list-hover:#1b1c1c;
    
}

body.night-mode{
    transition: 0.5s;
    background: #19191a;

    /* width */
    ::-webkit-scrollbar {
        width: 7px;
      }  
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: var(--night-card);
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: var(--night-secondary-soft);
      }

    .border-bottom{
        border-bottom: 1px solid #5E5E5E !important;
    }
    .card{
        background-color: var(--night-card);
    }

    select{
        background-color: var(--night-card);
    }

    .form-control{
        color: var(--night-secondary);
        background-color: var(--night-card);
        border: var(--night-card);
    }

    .sidebar{
        transition: 0.5s;
        background-color: var(--night-background);
        
        .nav-brand{
            background-color: var(--night-card);
            box-shadow:0 0.125rem  0.25rem rgba(138, 138, 138, 0.055);
    
            .text-cap{
                color: var(--night-secondary);
            }
            .hide_sidebar_btn{
                background-color: var(--night-card) !important;
            }
        }
    
        .menu-level-cap{
            background-color: var(--night-card);

            .menu-items:hover{
            background-color: var(--night-background);
        }
        }
        
        .menu-items:hover{
            background-color: var(--night-card);
        }

        .dropdown-items:hover{
            background-color: var(--night-card);
        }
        
    }
    
    
    .content{
        transition: 0.5s;
        background-color: var(--night-background);

        .content-menu{
            background-color: var(--night-background);
            color:var(--night-secondary);
            border-bottom: none;

            .show_sidebar_btn{
                background-color: var(--night-background) !important;
            }

            .noti-dropdown{
                background-color: var(--night-card) !important;

                .chat:hover{
                    background-color: var(--night-background);
                }
            }

            .account-setting-show{
                background-color: #1F1F1F90;

                .setting-show-text{
                    color:#6c94c2;
                }

                .account-setting-show-icons:hover{
                    background-color: var(--night-background);
                }

                .account-setting-profile:hover{
                    background-color: var(--night-background);
                }
            }
            
            .mode-change-btn{
                background-color: var(--night-background);
                .fa-sun{
                    color: var(--night-secondary);
                }
            }

            .mode-change-btn:hover{
                background-color: var(--night-card);
            }
        }

        .order-chart{
            border-right: 1px solid #5E5E5E;
        }

        .carousel-items{
            background-color: var(--night-background);
        }

        .carousel-items:hover{
            background-color: var(--night-background);
            .carousel-module{
                color:var(--night-secondary);
            }
        }

        .total-sale{
            background-color: var(--night-background);
        }

        .sale-agent:hover{
            background-color: var(--night-list-hover);
        }

        .latest-update:hover{
            background-color: var(--night-list-hover);
        }
    }
}